# Configuración de URLs y Keys de OrtFly
VITE_MOCKAPI_URL=https://TU_ID_DE_MOCKAPI.mockapi.io/api/v1
VITE_VECTORSHIFT_URL=https://api.vectorshift.ai/v1/pipeline/TU_PIPELINE_ID/run
VITE_VECTORSHIFT_KEY=tu_sk_api_key_de_vectorshift_aqui